* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
}

.header {
  height: 10vh;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: #900;
}

.navbar {
  outline: solid 1px #fff;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  height: 6vh;
  display: flex;
  flex-direction: column;
  grid-gap: .2rem;
}

.navbar-list {
  width: 100vw;
  height: 3vh;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  border: none;
  border-right: 1px solid #000;
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .7rem;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.navbar-item:hover {
  background-color: #ddd;
  outline: thin inset #fff;
}

.product-list {
  height: auto;
  min-height: 75vh;
  overflow-y: hidden;
}

.product-item {
  margin:.1rem 0;
  box-shadow: 1px 1px 5px#000;
  border: solid 1px #000;
  border-radius: 8px;
  padding: 1vh;
  height: 15vh;
  display: flex;
  overflow: hidden;
}

.product-image-wrapper {
  width: 5rem;
  display: flex;
  align-items: center;

}

.product-image,
.cart-item-image {
  height: auto;
  max-height: 95%;
  max-width: 5rem;
}

.product-details,
.cart-item-details {
  margin-left: 1rem;
  width: 80%;
  grid-gap: .2rem;
  flex-direction: column;
}

.product-title,
.cart-item-title {
  font-weight: 700;
}

.product-rating {
  display: flex;
}

.product-rating-score {
  
}

.product-rating-number {
  margin-left: .5rem;
  color: #888;
}

.product-description {

}

.product-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.product-price {
  
}

.product-add,
.cart-submit,
.cart-item-remove {
  border: 1px solid #000;
  border-radius: 8px;
  width: 10vw;
  /* height: 5vh; */
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #aaf;
  cursor: pointer;
}

.page-buttons {
  margin: .5vh 0 0 .5vh;
  width: 99vw;
  display: flex;
  justify-content: space-between;
}

.page-nav {
  height: 2vh;
  display: flex;
}

.page-btn {
  border: 1px solid #000;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.product-dropdown {
  width: auto;
  display: flex;
}

.product-number {

}

.cart {
  /* width: 5rem;
  height: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
}

.cart-btn {
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #888;
  cursor: pointer;
}

.cart-display {
  border: 1px solid #000;
  border-radius: 8px;
  width: auto;
  min-height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-gap: .5rem;
  background-color: #fff;
  overflow-y: auto;
}

.cart-item {
  margin-top: 1rem;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 10vh;
  display: flex;
}

.cart-item-quantity-container {
  display: flex;
  justify-content: space-between;
}

.cart-total {
  font-weight: 700;
}

