* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
}

.header {
  height: 10vh;
  background-color: #900;
}

.navbar {
  outline: solid 1px #fff;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  height: 10vh;
  display: flex;
  flex-direction: column;
}

.navbar-list {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  border: none;
  height: 5vh;
  display: flex;
  align-items: center;
  font-size: .7rem;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.product-list {
  height: 90vh;
}

.product-item {
  margin:.1rem 0;
  box-shadow: 1px 1px 5px#000;
  border: solid 1px #000;
  border-radius: 8px;
  padding: 1vh;
  height: 15vh;
  display: flex;
  overflow: hidden;
}

/* .product-image-wrapper {
  width: 30rem;
} */

.product-image {
  height: 95%;
  max-width: 30rem;
}

.product-details {
  margin-left: 1rem;
  display: flex;
  grid-gap: .2rem;
  flex-direction: column;
}

.product-title {
  font-weight: 700;
}

.product-rating {
  display: flex;
}

.product-rating-score {
  
}

.product-rating-number {
  margin-left: .5rem;
  color: #888;
}

.product-description {
  
}

.product-price {
  
}

