@import url(//db.onlinewebfonts.com/c/dd72e46b877acc620c475d5ac7578980?family=Neue+Plak);

@font-face {
  font-family: "Neue Plak";
  src: url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.eot");
  src: url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.svg#Neue Plak")
      format("svg");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
  font-family: Neue Plak, sans-serif;
  text-decoration: none;
  letter-spacing: .1rem;
}

.button {
  border: 1px solid #eee;
  border-radius: 100px;
  width: fit-content;
  min-width: 10rem;
  padding: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  color: #00b377;
  cursor: pointer;
}

.button:hover {
  background: #b3ffcc;
}


