@import url(//db.onlinewebfonts.com/c/dd72e46b877acc620c475d5ac7578980?family=Neue+Plak);

@font-face {
  font-family: "Neue Plak";
  src: url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.eot");
  src: url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/dd72e46b877acc620c475d5ac7578980.svg#Neue Plak")
      format("svg");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
  font-family: Neue Plak, sans-serif;
  text-decoration: none;
  letter-spacing: .1rem;
  /* overflow-x: hidden; */
}

body {
  overflow-x: hidden;
}

.button {
  border: 1px solid #eee;
  border-radius: 100px;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  color: #00b377;
  cursor: pointer;
}

.button:hover {
  background: #b3ffcc;
}

.cart {
  /* width: 5rem;
  height: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
}

.cart-btn {
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #888;
  cursor: pointer;
}

.cart-display {
  border: 1px solid #000;
  border-radius: 8px;
  width: auto;
  min-height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-gap: .5rem;
  background-color: #fff;
  overflow-y: auto;
}

.cart-item {
  margin-top: 1rem;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 10vh;
  display: flex;
}

.cart-item-quantity-container {
  display: flex;
  justify-content: space-between;
}

.cart-total {
  font-weight: 700;
}

