.cart-page {
  width: 100vw;
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(179, 255, 242, 1) 0%,
    rgba(179, 255, 191, 1) 60%
  );
}

.cart-page__list {
  -webkit-box-shadow: inset -0.5px 0.5px 5px 1px #d5ccff,
    inset 0px 0px 0px 5px #fff;
  -moz-box-shadow: inset -0.5px 0.5px 5px 1px #d5ccff,
    inset 0px 0px 0px 5px #fff;
  box-shadow: inset -0.5px 0.5px 5px 1px #d5ccff, inset 0px 0px 0px 5px #fff;
  width: 70%;
  min-height: 84vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.cart-page-item {
  margin-bottom: 1rem;
  border-radius: 8px;
  width: 100%;
  height: 10vh;
  padding: 0 1rem;
  display: flex;
  transition: all 0.5s ease-in-out;
}

.cart-page-item:hover {
  box-shadow: 1px 1px 5px #999;
  background: #fff;
}

.cart-page-item-image-wrapper {
  width: 5rem;
  display: flex;
  align-items: center;
}

.cart-page-item-image {
  height: auto;
  max-height: 95%;
  max-width: 5rem;
}

.cart-page-item-details {
  margin-left: 1rem;
  width: 100%;
}

.cart-page-item-title {
  width: 100%;
  max-width: 40vw;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cart-page-item-title,
.cart-page-item-price {
  color: #000;
}

.cart-page-item-quantity-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-page-item-quantity {
  color: #000;
}

.cart-page-item-buttons-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.cart-page-item-add,
.cart-page-item-remove {
  position: relative;
  right: 0;
}

.cart-page-buttons-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.cart-page-total {
  border-top: 2px solid #000;
  font-weight: 700;
  text-align: right;
}
