.cart {
    margin: 1rem 1rem 0 0;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 20;
}

.cart__btn {
    outline: 1px outset #009900;
    width: auto;
    height: 2rem;
    padding: 0 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #fff;
    background: rgb(0, 77, 13, 0.5);
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cart:hover {
    height: 95vh;
}

.cart-modal {
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 1px 10px 10px #ccc;
    border: #009900 solid 1px;
    border-radius: 8px;
    width: 50vw;
    height: 100vh;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    background-color: #fff;
}

.cart-modal__list {
    width: 100%;
    height: auto;
    padding: 0.2rem;
    overflow-y: auto;
}

.cart-page {
    width: 100vw;
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( 180deg, rgb(179, 255, 242, 1) 0%, rgb(179, 255, 191, 1) 60%);
}

.cart-page__list {
    box-shadow: -0.5px 0.5px 5px 1px #d5ccff inset, 0 0 0 5px #fff inset;
    width: 70%;
    min-height: 84vh;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.cart-item {
    margin-bottom: 0.5rem;
    box-shadow: 1px 1px 5px #999;
    border-radius: 8px;
    width: 98%;
    padding: 0 0.2rem 0.2rem 0;
    display: flex;
    transition: all 0.5s ease-in-out;
}

.cart-item:hover {
    box-shadow: 1px 1px 5px #999;
    background: #fff;
}

.cart-item__image-wrapper {
    max-width: 2rem;
    display: flex;
    align-items: center;
}

.cart-item__image {
    height: auto;
    max-height: 55%;
    max-width: 2rem;
}

.cart-item__details {
    margin-left: 0.2rem;
    width: 100%;
}

.cart-item__title {
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 52vw;
    font-size: 0.8rem;
    font-weight: 700;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cart-item__info-container {
    width: 100%;
    display: grid;
    grid-template-areas: "price buttons" "quantity buttons";
    justify-content: space-between;
}

.cart-item__price,
.cart-item__quantity {
    font-size: 0.7rem;
    color: #000;
}

.cart-item__price {
    grid-area: price;
}

.cart-item__quantity {
    grid-area: quantity;
}

.cart-item__buttons-container {
    grid-area: buttons;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5rem;
}

.cart-item__add,
.cart-item__remove {
    position: relative;
    right: 0;
    width: 95%;
    height: 1.5rem;
}

.cart-modal__total,
.cart-page__total {
    margin-bottom: 1rem;
    border-top: 2px solid #000;
    font-weight: 700;
    text-align: right;
}

.cart-modal__buttons-container,
.cart-page__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

@media (orientation: landscape) {
    .cart {
        position: relative;
        top: 0.2rem;
    }
    .cart__btn {
        width: 6rem;
        height: 1.5rem;
        padding: 0;
        font-size: 1rem;
    }
    .cart-modal {
        position: fixed;
        top: 0;
        width: auto;
        min-height: 100vh;
        padding: 1rem;
    }
    .cart-page__list {
        padding: 1rem;
    }
    .cart-item {
        padding: 0.2rem 1rem;
    }
    .cart-item__image-wrapper {
        max-width: 5rem;
    }
    .cart-item__image {
        max-height: 5rem;
        max-width: 3rem;
    }
    .cart-item__details {
        margin-left: 1rem;
    }
    .cart-item__title {
        max-width: 40vw;
    }
    .cart-item__info-container {
        width: 100%;
    }
    .cart-item__price,
    .cart-item__quantity {
        font-size: 1rem;
    }
    .cart-item__buttons-container {
        width: 100%;
    }
    .cart-modal__total,
    .cart-page__total {
        border-top: 2px solid #000;
        width: 100%;
        font-weight: 700;
        text-align: right;
    }
    .cart-modal__buttons-container,
    .cart-page__buttons-container {
        width: 100%;
        padding: 0;
        flex-direction: row;
    }
}