.display {
  height: 76vh;
  width: 100vw;
  overflow: auto;
}

.product-list {
  width: auto;
  height: auto;
  min-height: 75vh;
  overflow: hidden;
}

.product-item {
  box-shadow: 1px 1px 5px #999;
  margin: 0.5rem;
  border-radius: 8px;
  padding: 0.2rem;
  width: 95%;
  height: 15vh;
  display: flex;
  text-decoration: none;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.product-image-wrapper {
  width: 3rem;
  min-width: 3rem;
  display: flex;
  align-items: center;
}

.product-image {
  height: auto;
  max-height: 95%;
  max-width: 3rem;
}

.product-text-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.product-details {
  margin-left: 0.5rem;
  width: 100%;
  display: flex;
  grid-gap: 0.2rem;
  flex-direction: column;
}

.product-title {
  margin-bottom: 0.2rem;
  font-size: 0.7rem;
  color: #000;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-rating {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 0.7rem;
}

.product-rating-score {
  font-weight: 700;
  color: #00b377;
}

.product-rating-number {
  margin-left: 0.5rem;
  color: #009980;
}

.product-description {
  width: 75vw;
  display: none;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-options {
  margin-left: 0.5rem;
  width: 100%;
  display: flex;
  grid-gap: 0.2rem;
  flex-direction: row;
}

.product-price {
  width: 100%;
  font-size: 0.8rem;
  color: #000;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.product-add {
  width: 15rem;
}

.page-buttons {
  margin: 0.5vh 0 0 0.5vh;
  width: 99vw;
  height: 1.5rem;
  display: flex;
  justify-content: flex-start;
}

.page-nav {
  margin-right: 1rem;
  height: 2vh;
  display: flex;
}

.page-btn {
  border-right: 1px solid #000;
  width: 3.6rem;
  height: 1.5rem;
  text-align: center;
  justify-items: center;
  cursor: pointer;
}

.page-btn:hover {
  background: #e6ffee;
}

.page-dropdown {
  width: auto;
  display: flex;
}

@media (orientation: landscape) {
  .product-item {
    box-shadow: none;
    padding: 1vh;
    width: 98vw;
    overflow: hidden;
  }

  .product-item:hover {
    box-shadow: 1px 1px 5px #999;
    background: #fff;
  }

  .product-image-wrapper {
    width: 5rem;
  }

  .product-image {
    max-width: 5rem;
  }

  .product-text-container {
    /* width: 80%;
    display: flex;
    flex-direction: column; */
  }

  .product-details {
    margin-left: 1rem;
    width: 80%;
  }

  .product-description {
    display: contents;
  }

  .product-options {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .product-price {
    font-size: 1rem;
  }
}
