.error-page {
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(179, 255, 229, 1) 90%
    );
  }

  .error-page__container {
    height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error-page__title {
    margin-bottom: 1rem;
    text-align: center;
  }

  .error-page__subtitle {
    margin-bottom: 1rem;
    text-align: center;
    color: #999;
  }

@media (orientation: landscape) {
  .error-page {
    height: 64.7vh;
    padding: 1rem;
  }

  .error-page__title {
    margin-bottom: 1rem;
    text-align: center;
  }

  .error-page__subtitle {
    margin-bottom: 1rem;
    text-align: center;
    color: #999;
  }
}

@media (orientation: landscape) and (min-height: 500px) {
  .error-page {
    height: 73%;
  } 
}