.navbar {
  box-shadow: 1px 10px 10px #ccc;
  height: 14vh;
  padding: .5rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: .5rem;
  background: linear-gradient(180deg, rgba(179, 255, 204, 0.7) 0%, rgba(179, 255, 229, 1) 40%);
  z-index: 1;
}

.navbar__search {
  display: flex;
  justify-content: center;
  grid-gap: .2rem;
}

.navbar__input {
  border: 1px solid #ccc;
  border-radius: 100px;
  width: 100%;
  padding-left: .3rem;
  color: #fff;
  background: rgba(0, 0, 0, .3);
}

.navbar__btn {
  min-width: fit-content;
  font-size: .6rem;
}

.navbar__btn:hover {
  border: 1px solid rgba(204, 204, 229, 1);
  background: rgb(204, 229, 205);
}

.navbar__search-dropdown,
.navbar__sort-dropdown {
  border-radius: 100px;
  border: 1px solid #ccc;
  width: 17vw;
  font-size: .7rem;
}

.navbar__search-option, 
.navbar__sort-option {
  text-align: center; 
}

.link__home {
  height: 5vh;
}

.navbar__list {
  width: auto;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

.navbar__item {
  border: none;
  border-right: 1px solid #b3b3ff;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: .5rem;
  color: #000;
  background: #b3fff2;
  cursor: pointer;
  z-index: 10;
}

.navbar__item:hover {
  background: linear-gradient(180deg, rgba(179, 255, 242, 1) 0%, rgba(204, 204, 229, 1) 100%);
}

@media (orientation: landscape) {
  .navbar {
    height: 16%;
    padding: 0;
    grid-gap: 0;
  }

  .navbar__search {
    padding: 0 .4rem;
    grid-gap: .5rem;
  }

  .navbar__input {
    width: 60vw;
    padding-left: 1rem;
  }

  .navbar__btn {
    min-width: 6rem;
    font-size: 1rem;
  }

  .navbar__search-dropdown,
  .navbar__sort-dropdown {
    width: auto;
    font-size: .8rem;
  }

  .hlink__home {
    height: 2rem;
  }

  .navbar__list {
    height: 2.2rem
  }
  
  .navbar__item {
    border-right: none;
    height: auto;
    font-size: .8rem;
  }
  
  .navbar__item:hover {
    border-right: 1px solid #b3b3ff;
    border-left: 1px solid #b3b3ff;
  }
}

@media (orientation: landscape) and (min-height: 500px) {
  .navbar {
    height: 12%;
  }
}