.navbar {
  box-shadow: 1px 10px 10px #ccc;
  height: 14vh;
  padding: .5rem 0;
  display: flex;
  flex-direction: column;
  grid-gap: .5rem;
  background: linear-gradient(180deg, rgba(179, 255, 204, 0.7) 0%, rgba(179, 255, 229, 1) 40%);
  z-index: 1;
}

.navbar-search {
  display: flex;
  justify-content: center;
  grid-gap: .2rem;
}

.search-input {
  border-radius: 100px;
  border: 1px solid #ccc;
  width: 100%;
  padding-left: .3rem;
  color: #fff;
  background: rgba(0, 0, 0, .3);
}

.search-btn {
  min-width: fit-content;
  font-size: .6rem;
}

.search-btn:hover {
  border: 1px solid rgba(204, 204, 229, 1);
  background: rgb(204, 229, 205);
}

.search-dropdown,
.sort-dropdown {
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 17vw;
  font-size: .7rem;
}

.search-option, 
.sort-option {
  text-align: center; 
}

.navbar-list {
  width: auto;
  height: 3.5vh;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  border: none;
  border-right: 1px solid #b3b3ff;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: .5rem;
  color: #000;
  background: #b3fff2;
  cursor: pointer;
}

.navbar-item:hover {
  background: linear-gradient(180deg, rgba(179, 255, 242, 1) 0%, rgba(204, 204, 229, 1) 100%);
}

@media (orientation: landscape) {
  .navbar {
    height: 6vh;
    padding: 0;
    grid-gap: 0;
  }

  .navbar-search {
    grid-gap: .5rem;
  }

  .search-input {
    width: 60vw;
    padding-left: 1rem;
  }

  .search-btn {
    min-width: 10rem;
    font-size: 1rem;
  }

  .search-dropdown,
  .sort-dropdown {
    width: fit-content;
    font-size: 1rem;
  }
  
  .navbar-item {
    border-right: none;
    height: 3.5vh;
    font-size: .9rem;
  }
  
  .navbar-item:hover {
    border-right: 1px solid #b3b3ff;
    border-left: 1px solid #b3b3ff;
  }
}