.product-page {
    width: 100vw;
    height: 76vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.product-page__item-image {
    margin: 1rem;
    max-width: 30vw;
    max-height: 30vw;
}

.product-page__details {
    box-shadow: 1px 10px 10px #ccc;
    margin-bottom: 1rem;
    border: #000 double 3px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-page__item-title {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.product-page__rating {
    margin-bottom: 0.5rem;
    display: flex;
}

.product-page__rating-score {
    font-weight: 700;
    color: #00b377;
}

.product-page__rating-number {
    margin-left: 0.5rem;
    color: #009980;
}

.product-page__description {
    margin-bottom: 0.5rem;
}

.product-page__options {
    display: flex;
    align-items: flex-start;
}

.product-page__price {
    font-weight: 700;
    margin-right: 1rem;
}

@media (orientation: landscape) {
    .product-page {
        height: 73%;
    }
}